body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

header {
    background-color: #232f3e;
    color: white;
    padding: 10px 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.main-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #008296;
    color: white;
    padding: 20px;
}

.banner-text h1 {
    margin: 0;
    font-size: 36px;
}


.grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.sub-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.sub-grid-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #232f3e;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
